@import url(catppuccin.css);
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  line-height: 1.5;
  font-weight: 300;
  font-family: "Space Mono", Courier, monospace;
  color-scheme: dark;
  color: var(--main-text-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: block;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: var(--catppuccin-color-base);
}
#root {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  min-height: 100vh;
  min-width: 100%;
}

/* For Firefox */
::-moz-selection {
  background: var(--main-overlay-color);
  color: var(--main-accent-color-rosewater);
}

::selection {
  background: var(--main-overlay-color);
  color: var(--main-accent-color-rosewater);
}

a {
  color: var(--main-accent-color-red);
  transition: all 250ms ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: var(--main-accent-color-mauve);
  transition: all 250ms ease-in-out;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "navbar" "main" "footer";
  position: relative;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
